<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Liên hệ</h5>

                <p class="grey-text text-lighten-4">0989 57 86 34</p>

                <div class="col-md-3 text-center">
                    <h5 class="white-text">Kết nối với chúng tôi</h5>
                    <a target="_blank" href="https://www.facebook.com/mdbootstrap"
                       class="btn-floating btn-large fb-bg waves-effect waves-light" style="background:#3B5998"><i
                                class="fa fa-facebook"> </i></a>
                    <a target="_blank" href="https://twitter.com/MDBootstrap"
                       class="btn-floating btn-large tw-bg waves-effect waves-light" style="background:#55ACEE"><i
                                class="fa fa-twitter"> </i></a>
                    <a target="_blank"
                       href="https://plus.google.com/u/0/b/107863090883699620484/107863090883699620484/posts"
                       class="btn-floating btn-large gplus-bg waves-effect waves-light" style="background:#DD4B39"><i
                                class="fa fa-google-plus"> </i></a>
                </div>
            </div>
            <div class="col l6 offset-l2 s12">
                <h5 class="white-text">Đăng ký nhận e-mail</h5>

                <div class="card-panel">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate">
                                    <label for="email">E-mail</label>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Đăng ký
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
    <span ng-if="!isLoggedin()">
      <a class="grey-text text-lighten-4 right modal-trigger" ng-click="openModal()" href="javascript:void(0);">Đăng
          nhập</a>
    </span>
        </div>
    </div>
</footer>

<div ng-if="isLoggedin()" class="fixed-action-btn click-to-toggle" style="bottom: 10px; right: 10px;">
    <a class="btn-floating red"><i class="material-icons">account_circle</i></a>
    <ul>
        <li><a class="btn-floating red" ui-sref="write"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>


<div id="user-panel" class="modal">
    <div class="modal-content">
        <div ng-include="'/app/templates/login.html'"></div>
    </div>
</div>








            