<!DOCTYPE html>
<html ng-app="home">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Nhà tốt</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/materialize.css">
    <link rel="stylesheet" href="/assets/css/my.css">
    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/sweetalert.css">

    <link rel="stylesheet" href="/lib/owl.carousel/dist/assets/owl.carousel.min.css" />

    <style type="text/css">
        .container {
            width: 90%;
        }

    </style>
</head>
<body>
    <div ui-view autoscroll="true"></div>

    <script>
        if('require' in window)
        {
            window.$ = window.Jquery = require('jquery');
        }
    </script>


    <!-- JQuery -->
    <script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
    <script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="/assets/js/materialize.js"></script>
    <script src="/assets/ckeditor/ckeditor.js"></script>
    

    <!--Libraries-->
    <script type="text/javascript" src="/angular/angular.min.js"></script>
    <script type="text/javascript" src="/angular/angular-ui-router.js"></script>
    <script type="text/javascript" src="/angular/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/assets/js/sweetalert.min.js"></script>

    <!--Layout-->
    <script type="text/javascript" src="/assets/js/masonry.min.js"></script>
    <script type="text/javascript" src="/assets/js/imagesloaded.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular-masonry.min.js"></script>




    <script type="text/javascript" src="/app/app.js"></script>



    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80903380-1', 'auto');
        ga('send', 'pageview');

    </script>
    
</body>
</html>
