<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <a ui-sref="home" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">BIỆT THỰ</a></li>
                <li><a href="badges.html">CĂN HỘ</a></li>
                <li><a href="collapsible.html">NỀN - MẶT BẰNG</a></li>
                <li><a href="javascript:void(0)" data-activates="slide-out" class="button-collapse show-on-large"><i
                                class="material-icons">search</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="side-nav" id="slide-out">

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <select multiple>
                        <option value="1" selected>QUẬN 1</option>
                        <option value="2">QUẬN 2</option>
                        <option value="3">QUẬN 3</option>
                        <option value="4">QUẬN 4</option>
                        <option value="5">QUẬN 5</option>
                        <option value="6">QUẬN 6</option>
                        <option value="7">QUẬN 7</option>
                        <option value="8">QUẬN 8</option>
                        <option value="9">QUẬN 9</option>
                        <option value="10">QUẬN 10</option>
                        <option value="11">QUẬN 11</option>
                        <option value="12">QUẬN 12</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="keyword" type="text" class="validate">
                    <label for="keyword">Từ khoá</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked"/>
                    <label for="filled-in-box">MUA</label>
                </div>
                <div class="col s6">
                    <input type="checkbox" class="filled-in" id="filled-in-box2" checked="checked"/>
                    <label for="filled-in-box2">BÁN</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="waves-effect waves-light btn" style="width:100%">Tìm</button>
                </div>
            </div>

        </form>
    </div>
</div>