<div class="row" id="detail-view">
    <div class="col s10">
        

        <div class="section white scrollspy" id="info">
            <h2 class="header">{{details.title}}</h2>
            <small>{{details.date | date : 'dd-MM-yyyy HH:mm:ss'}}</small>
            
            <div class="chip">
                <a href="javascript:void(0);" ng-click="searchTagKind(details.kind)">
                    <span ng-if="details.kind == 'buy'">MUA</span>
                    <span ng-if="details.kind == 'sell'">BÁN</span>
                </a>
            </div>
            <div style="display : flex;align-items : center">
                <i class="material-icons">location_on</i>
                <a ng-href="{{'https://www.google.com/maps?q='+details.address}}" target="_blank">{{details.address}}</a>
          </div>
            <p ng-bind-html="formatHTML(details.contents)"></p>
        </div>

        <div class="section white scrollspy" id="slide">
            <h5 class="header">Slide ảnh</h5>
            <img ng-repeat="img in details.images" width="100%" ng-src="{{img.name}}">
        </div>

        <div class="section white scrollspy" id="design">
            <h5 class="header">Thiết kế - bản vẽ</h5>
            <img ng-repeat="img in details.drawing" width="100%" ng-src="{{img.name}}">
        </div>

        <div class="section white scrollspy" id="map">
            <h5 class="header">Địa điểm</h5>
            <div ng-if="details.address" google-map="" google-address="{{details.address}}" style="height: 500px"></div>
        </div>

    </div>
    <div class="col s2">
        <div class="col hide-on-small-only" style="position: fixed;">
            <ul class="section table-of-contents">
                <li><a href="#info">Thông tin chính</a></li>
                <li><a href="#slide">Slide ảnh</a></li>
                <li><a href="#design">Thiết kế - bản vẽ</a></li>
                <li><a href="#map">Địa điểm</a></li>
            </ul>
        </div>
    </div>
</div>





<script>
    $(document).ready(function(){
        $('.parallax').parallax();
        $('.scrollspy').scrollSpy();

    });

    
</script>