<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <a href="javascript:void(0);" ng-click="go('home.index',{category : 'index'})" class="brand-logo">
                <img src="/assets/img/logo.png" class="responsive-img" alt="Logo image" style="max-height: 64px;">
            </a>
            <build-menus></build-menus>
        </div>
    </nav>
</div>

<div class="side-nav" id="slide-out" search-nav></div>

<div class="container" ui-view autoscroll="true"></div>


<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Liên hệ</h5>

                <p class="grey-text text-lighten-4">0989 57 86 34</p>

                <div class="col-md-3 text-center">
                    <h5 class="white-text">Kết nối với chúng tôi</h5>
                    <a target="_blank" href="https://www.facebook.com/muanhatot.net/"
                       class="btn-floating btn-large fb-bg waves-effect waves-light" style="background:#3B5998"><i
                                class="fa fa-facebook"> </i></a>
                    <!--<a target="_blank" href="https://twitter.com/MDBootstrap"
                       class="btn-floating btn-large tw-bg waves-effect waves-light" style="background:#55ACEE"><i
                                class="fa fa-twitter"> </i></a>
                    <a target="_blank"
                       href="https://plus.google.com/u/0/b/107863090883699620484/107863090883699620484/posts"
                       class="btn-floating btn-large gplus-bg waves-effect waves-light" style="background:#DD4B39"><i
                                class="fa fa-google-plus"> </i></a>-->
                </div>
            </div>
            <div class="col l6 offset-l2 s12">
                <h5 class="white-text">Đăng ký nhận e-mail</h5>

                <div class="card-panel">
                    <div class="row">
                        <form class="col s12" ng-submit="addEmail(emailForm.email)">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" ng-model="emailForm.email" class="validate" required="">
                                    <label for="email">E-mail</label>
                                </div>
                            </div>
                            <button ng-if="emailForm.email" class="btn waves-effect waves-light" type="submit" name="action">Đăng ký
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright <span style="text-transform: uppercase">{{document.domain}}</span>
    <span ng-if="!isLoggedin()">
      <a class="grey-text text-lighten-4 right" href="javascript:void(0)" data-ng-click="openModal('#user-panel')">Đăng
          nhập</a>
    </span>
        </div>
    </div>
</footer>

<div ng-if="isLoggedin()" class="fixed-action-btn click-to-toggle" style="bottom: 10px; right: 10px;">
    <a class="btn-floating red"><i class="material-icons">account_circle</i></a>
    <ul>
        <li><a class="btn-floating red" data-position="left" data-delay="50" data-tooltip="Đăng tin"
               ui-sref="home.write"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating yellow darken-1" data-position="left" data-delay="50" data-tooltip="Danh sách"
               ui-sref="home.user"><i class="material-icons">list</i></a></li>
        <li>
            <a ng-click="logout()" class="btn-floating red">
                <i class="material-icons">power_settings_new</i>
            </a>
        </li>
    </ul>
</div>


<div id="user-panel" class="modal">
    <div class="modal-content">
        <div class="row" ng-if="isLoginForm">
            <div ng-include="'/app/templates/login-form.html'"></div>
        </div>


        <div class="row" ng-if="!isLoginForm">
            <div ng-include="'/app/templates/signup-form.html'"></div>
        </div>
    </div>
</div>

<preloader ng-if="isBlocked"></preloader>








            