<div class="row" masonry>
  <div class="masonry-brick col m6 s12" ng-repeat="item in listArticle">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">

        <div class="slider" class="activator" ng-slider ng-if="item.images.length > 0">
          <ul class="slides">
            <li ng-repeat="img in item.images">
              <img ng-src="{{img.name}}">
            </li>
          </ul>
        </div>
      </div>
      <div class="card-content">
        <span class="grey-text text-darken-4">
          {{item.category_name | uppercase}}
          <a class="grey-text" href="javascript:void(0);"><i class="material-icons activator right">more_vert</i></a>
          <br/>
          <a href="javascript:void(0);">
            <span class="activator" data-ng-bind-html="formatHTML(item.title)"></span>
            <div class="chip">
              <a href="javascript:void(0);" ng-click="searchTagKind(item.kind)">
                <span ng-if="item.kind == 'buy'">MUA</span>
                <span ng-if="item.kind == 'sell'">BÁN</span>
              </a>
            </div>
          </a>
          <div style="display : flex;align-items : center">
            <i class="material-icons">location_on</i>
            <a ng-href="{{::'https://www.google.com/maps?q='+item.address}}" target="_blank">{{::item.address}}</a>
          </div>
        </span>

      </div>

      <div class="card-action">
        <a ui-sref="home.detail({alias : item.alias,id : item.id})">
          <button type="button" class="btn waves-effect waves-light">xem thêm</button>
        </a>
        <span class="right">{{item.date | date : 'dd/MM/yyyy'}}</span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <span data-ng-bind-html="formatHTML(item.title)"></span>
          <i class="material-icons right" style="position: absolute;top: 5px;right: 5px;">close</i>
        </span>


        <p data-ng-bind-html="formatHTML(item.contents)"></p>
      </div>
    </div>
  </div>
</div>


<div class="valign-wrapper" ng-if="totalPage" style="position: fixed;left: 10px;bottom: 0px;top: 65px;">
  <div class="valign">
    <ul class="pagination-new">
      <li ng-if="currentPage > 1" ng-click="changePage(currentPage - 1)">
        <a class="btn-floating waves-effect waves-light">
          <span class="fa fa-long-arrow-up" aria-hidden="true"></span>
        </a>
      </li>
      <li ng-repeat="page in paseList" ng-class="{'active' : currentPage == page}" ng-click="changePage(page)">
        <a class="btn-floating waves-effect waves-light">
          <span>{{page}}</span>
        </a>
      </li>
      <li ng-if="currentPage < totalPage" ng-click="changePage(currentPage + 1)">
        <a class="btn-floating waves-effect waves-light">
          <span class="fa fa-long-arrow-down" aria-hidden="true"></span>
        </a>
      </li>

    </ul>
  </div>
</div>




