<!--<ul id="{{menuId}}" class="my-dropdown-wrap">
    <li data-ng-repeat="item in menu" style="text-transform: uppercase" class="my-dropdown-item">
        <a href="javascript:void(0);" ng-click="go('home.index',{category : item.alias})">{{item.name}}</a>
       
    </li>
</ul>-->


<ul id="{{menuId}}" class="dropdown-content collection">
    <li class="collection-item" data-ng-repeat="item in menu" style="text-transform: uppercase">
        <a href="javascript:void(0);" ng-click="go('home.index',{category : item.alias})">{{item.name}}</a>
    </li>
</ul>