<ul id="nav-mobile" class="right hide-on-med-and-down">
    <li ng-repeat="item in menuList" style="text-transform: uppercase">
        <a ng-if="!item.children" href="javascript:void(0);" ng-click="go('home.index',{category : item.alias})">
            <span>{{item.name}}</span>
        </a>
        <a ng-if="item.children.length > 0" class="dropdown-button" href="javascript:void(0);"
             data-activates="{{item.id}}"><span>{{item.name}}</span><i class="material-icons right">arrow_drop_down</i>
             <children-menu menu="item.children" menu-id="item.id"></children-menu>
        </a>
    </li>
    <li><a href="javascript:void(0)" data-activates="slide-out" side-nav class="button-collapse show-on-large"><i
                                class="material-icons">search</i></a></li>
</ul>