<div class="row">
    <form class="col s12" ng-submit="searchAction(search)">
        <div class="row">
            <div class="input-field col s12">
                <select name="location" multiple ng-model="search.location" ng-options="item.key as item.name for item in locationList">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="keyword" type="text" class="validate" ng-model="search.keyword">
                <label for="keyword">Từ khoá</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <input checklist-model="search.kind" checklist-value="'buy'" type="checkbox" class="filled-in" id="filled-in-box"/>
                <label for="filled-in-box">MUA</label>
            </div>
            <div class="col s6">
                <input checklist-model="search.kind" checklist-value="'sell'" type="checkbox" class="filled-in" id="filled-in-box2"/>
                <label for="filled-in-box2">BÁN</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="waves-effect waves-light btn" style="width:100%" type="submit">Tìm</button>
            </div>
        </div>

    </form>
</div>