<form class="col s12" ng-submit="signup(form)">
    <div class="row">
        <div class="input-field col s12">
            <h4>Đăng Ký</h4>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input ng-model="form.username" id="username" type="text" class="validate" required autocomplete="off">
            <label for="username">Tài khoản</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">verified_user</i>
            <input ng-model="form.password" id="password" type="password" class="validate" required autocomplete="off">
            <label for="password">Mật khẩu</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input ng-model="form.email" id="mail" type="email" class="validate" required autocomplete="off">
            <label for="mail">E-mail</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Đăng ký
            </button>
            <a class="valign" ng-click="getLoginForm()" style="margin-top:15px;margin-left:15px;" href="javascript:void(0)">Đăng nhập</a>
        </div>
    </div>
</form>