
<br>
<div class="row">
    <div class="col s12 m12">
        <div class="card-panel" style="padding: 0px;margin: 0px;text-transform: uppercase;">
            <ul class="tabs">
                <li class="tab col s3"><a href="#info">THÔNG TIN</a></li>
                <li class="tab col s3"><a class="active" href="#list">DANH SÁCH</a></li>
                <li class="tab col s3"><a href="#test4">THÊM</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12 m12">
        <div class="card-panel">
            <div class="row">
                <div id="info" class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="file-field input-field s12">
                                    <div class="btn">
                                        <span><i class="material-icons">mode_edit</i></span>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Nhập mật khẩu mới..." disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="file-field input-field s12">
                                    <div class="btn">
                                        <span><i class="material-icons">mode_edit</i></span>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text" placeholder="Nhập email mới..." disabled>
                                    </div>
                                </div>
                            </div>
                            <div align="center"><a class="waves-effect waves-light btn btn-large">Lưu Thông Tin</a></div>
                    </div>
                    </div>
                </div>
                <div id="list" class="col s12">
                    <h4>DANH SÁCH TIN ĐĂNG</h4>
                    <ul class="collection">
                        <li class="collection-item" ng-repeat="item in listItems">
                            <a  ui-sref="home.update({id : item.id})">{{::item.title}}</a>
                            <a class="secondary-content" href="javascript:void(0)" ng-click="deleteArticle(item.id,$index)"><i class="material-icons red-text">delete</i></a>
                            <a class="secondary-content" ui-sref="home.detail({alias : item.alias,id : item.id})"><i class="material-icons">search</i></a>
                        </li>
                    </ul>
                </div>
                <div id="test4" class="col s12">Chức năng này đang trong giai đoạn phát triển!</div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function(){
        $('ul.tabs').tabs();
    });
</script>