<div class="row">
    <div class="col s10">
        <form method="post" ng-submit="saveArticle(form)">
        <div class="row">
            <div class="col s12 scrollspy" id="information">
                <div class="card-panel hoverable">
                    <div class="row">
                        <div class="col s12">
                            <h4>THÔNG TIN CHÍNH</h4>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="title" type="text" class="validate" required ng-model="form.title">
                                    <label for="title">Đề mục</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select material-select ng-model="form.location_id"
                                            ng-init="form.location_id = location[0].id"
                                            ng-options="item.id as item.name | uppercase for item in location">

                                    </select>
                                    <label>Quận/Thành phố:</label>
                                </div>
                            </div>

                            <div class="row" ng-if="categories.length > 0">
                                <div class="input-field col s12">
                                    <!--<select material-select ng-model="form.category_id" ng-init="form.category_id = categories[0].id" ng-options="item.id as item.name | uppercase for item in categories">-->

                                    <!--</select>-->
                                    <select ng-model="form.category_id" material-select class="browser-default2">
                                        <option ng-repeat="item in categories" ng-if="!item.children"
                                                value="{{item.id}}">{{item.name | uppercase}}
                                        </option>

                                        <optgroup ng-repeat="item in categories" ng-if="item.children"
                                                label="{{item.name | uppercase}}">
                                            <option ng-repeat="opt in item.children" ng-if="!opt.children"
                                                    value="{{opt.id}}">{{opt.name | uppercase}}
                                            </option>

                                        </optgroup>


                                    </select>


                                    <label>Danh Mục</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <span>
                                        <input name="kind" type="radio" id="buy" ng-model="form.kind" value="buy"/>
                                        <label for="buy">Mua</label>
                                    </span>
                                    <span>
                                        <input name="kind" type="radio" id="sell" ng-model="form.kind" value="sell" ng-init="form.kind = 'sell'"/>
                                        <label for="sell">Bán</label>
                                    </span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="price" type="text" class="validate" required ng-model="form.price">
                                    <label for="price">Giá tiền</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s12">
                                    <label for="content">Nội dung</label>
                                </div>

                                <div class="input-field col s12">
                                    <ck-editor id="content" ng-model="form.contents"></ck-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 scrollspy" id="slide" style="position: relative">
                <div class="card-panel hoverable">
                    <div class="row">
                        <div class="col s12">
                            <h4>SLIDE ẢNH
                                <label class="btn-floating waves-effect waves-light red right" for="image-slide">
                                    <i class="material-icons">add</i>
                                    <input style="display: none" type="file" id="image-slide" accept="image/*">
                                </label>
                            </h4>
                            <div ng-if="imageSlideList.length > 0">
                                <div>
                                    <div>
                                        <div title="dblclick để xoá" ng-repeat="img in imageSlideList track by $index" ng-dblclick="removeSlideImage($index)">
                                            <img ng-src="{{img.src}}" width="300" height="400" style="float: left">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col s12 scrollspy" id="design">
                <div class="card-panel hoverable">
                    <div class="row">

                        <div class="col s12">
                            <h4>THIẾT KẾ - BẢN VẼ
                                <label class="btn-floating waves-effect waves-light red right file-field" for="image-file">
                                    <i class="material-icons">add</i>
                                    <input style="display: none" type="file" id="image-file" accept="image/*">
                                </label>
                            </h4>
                            <div class="row">
                                <div class="input-field col s12" title="dblclick để xoá"
                                     ng-repeat="img in imageList track by $index" ng-dblclick="removeImage($index)">
                                    <img width="100%" ng-src="{{img.src}}">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 scrollspy" id="location">
                <div class="card-panel hoverable">
                    <div class="row">

                        <div class="col s12">
                            <h4>ĐỊA ĐIỂM</h4>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input address id="address" type="text" placeholder="" class="validate" required ng-model="form.address">
                                    <label for="address">Địa chỉ</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <button class="btn waves-effect waves-light btn-large right" type="submit" name="action">Đăng Tin
                </button>
            </div>

        </div>
        </form>
    </div>
    <div class="col s2">
        <div class="col hide-on-small-only" style="position: fixed;">
            <ul class="section table-of-contents">
                <li><a href="#information">Thông tin chính</a></li>
                <li><a href="#slide">Slide ảnh</a></li>
                <li><a href="#design">Thiết kế - bản vẽ</a></li>
                <li><a href="#location">Địa điểm</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.number.min.js"></script>

<script>



    $(document).ready(function(){
        $('.scrollspy').scrollSpy();
        $('#price').number(true);
    });
</script>

