
.my-dropdown .my-dropdown-wrap
{
    display: none;
    background: #fff;
    position: absolute;
    top: 65px;
    border: 1px #eee solid;
    color: #33B5E5;
    width: 200px;
}

.my-dropdown:hover .my-dropdown-wrap
{
    display: block;
}

.my-dropdown .my-dropdown-item
{
    border: #eee 1px solid;
    min-width: 100%;
    color: #33B5E5;
    line-height: 40px;
}

.my-dropdown .my-dropdown-item a
{
    color: #33B5E5;
}

.my-dropdown .my-dropdown-wrap .my-dropdown-item .my-dropdown-item-child
{

}

.pagination-new li>a{
    color: #33B5E5;
    background: #fff;
    border: #33B5E5 1px solid;
    margin-bottom: 15px;
    text-align: center
}

.pagination-new li>a:hover , .pagination-new li.active>a{
    color: #fff;
    background: #33B5E5;
}
